# Tutorial 3: Using Markdown Cells in Jupyter Notebook

In Jupyter Notebooks, text can be added to explain your code using Markdown cells. Markdown is a very popular markup language that is a superset of HTML. It is a text-to-HTML conversion tool which is considered a writing standard by analysts and data scientists. In this tutorial, you will learn Markdown syntax which is supported by Jupyter Notebook.

For starters, change the cell type of the next cell as follows: <br>
> 1) Click on the cell you wish to change the type of. <br>
> 2) Select the `'Cell'` option from the navigation bar at the top of the notebook. <br> 
> 3) Hover over the option `'Cell Type'`. <br>
> 4) Choose the `'Markdown'` option. Your cell would've now changed from type Code to type Markdown. 
<br>

In order to test this, type out the phrase 'Hello World' and press the buttons `shift + return` to **run** your cell.

In [2]:
#Change cell-type to Markdown
#Delete these comments, type text 'Hello World' and run cell

## Writing Headings in Markdown.

Markdown provides 6 different sizes for headings. Headings are written starting with a hashtag '#' and a space ' ' followed by the heading. The different sizes are distiguished by the number of hashtags, starting with 1 hashtag '#' for the largest heading, and 6 hashtags '######' for the smallest heading size.<br> Run the cells below to see the different heading styles available in Jupyter Notebook through Markdown.

In [ ]:
#Change the type of the following cells to Markdown
#Run the cells

#WARNING: you will see an error if you run the cell without changing the cell-type.

In [ ]:
# Heading 1

In [ ]:
## Heading 2

In [ ]:
### Heading 3

In [ ]:
#### Heading 4

In [ ]:
##### Heading 5

In [ ]:
###### Heading 6

The same heading styles can be achieved by placing Markup Tags before and after the Heading text. Markup Tags are just h1,h2,...,h6 wrapped in <> tags. For instance, run the cell below that contains a sub-heading of size Heading 3.

In [ ]:
#Change cell-type of the following cell to Markdown
#Run the cell

#WARNING: you will see an error if you run the cell without changing the cell-type.

In [ ]:
<h3> This is a sub-heading <h3>

## How to add a Line Break?

Line Break in Jupyter Notebook is the keyboard equivalent of the 'return' key. It is used to enter a line between two words or sentences. A Line Break can be achieved by typing br within <> tags wherever a statement needs to be moved to the next line.

In [ ]:
#Change cell-type of the following cell to Markdown
#Run the cell

#WARNING: you will see an error if you run the cell without changing the cell-type.

In [ ]:
This line will break after the tag <br> and this information is now in the next line!

## What are Blockquotes?

Blockquotes hold text that are large and are indented. They can be achieved by the symbol in Markdown `>` or by wrapping the text around the tags <br> `<blockquote>` and `</blockquote>`

In [4]:
#Change cell-type of the following cell to Markdown
#Run the cell

#WARNING: you will see an error if you run the cell without changing the cell-type.

In [ ]:
>Now this information about cats is indented. The cat is a domestic species of a small carnivorous mammal. Cats produce the sound 'meow'. Cats have whiskers.

### TASK 1

Here is a simple task for you to do to test your markdown skills so far. Follow the steps to see headings, line breaks and blockquotes in action! <br>
> 1) Create a markdown cell and write the heading in size 4 with text 'This is my answer'. <br>
> 2) Create another new markdown cell and write three fun facts about yourself. <br>
> 3) Add line breaks between each fun fact. <br>
> 4) Indent each fun fact using blockquotes. <br>

In [17]:
#TASK 1 CELL

In [16]:
#TASK 1 CELL

## Writing mathematical symbols in Markdown.

In order to add mathematical symbols in markdown, we wrap the mathematical terms around dollar signs `$` .

In [6]:
#Change cell-type of the following cells to Markdown
#Run the cell

#WARNING: you will see an error if you run the cell without changing the cell-type.

In [ ]:
$\sqrt{x}$

In [ ]:
$\sum$

## How to bold your text?

There are three different ways one can achieve bold text in Markdown. <br>
> 1) The first, is to wrap the text around tags `<b>` and `</b>`. <br>
> 2) The second, is to use the double asterisk `**` before and after typing the text. <br> 
> 3) The third, is to use the double asterisk `__` before and after typing the text. <br>

In [2]:
#Change cell-type of the following cells to Markdown
#Run the cell

#WARNING: you will see an error if you run the cell without changing the cell-type.

In [ ]:
<b> That is very bold of you! </b>

In [ ]:
**That is very bold of you!**

In [ ]:
__That is very bold of you__

## Let's learn to italicize!

There are three different ways one can achieve italic text in Markdown. <br>
> 1) The first, is to wrap the text around tags `<i>` and `</i>`. <br>
> 2) The second, is to use the asterisk `*` before and after typing the text. <br> 
> 3) The third, is to use the asterisk `_` before and after typing the text. <br>

In [20]:
#Change cell-type of the following cells to Markdown
#Run the cell

#WARNING: you will see an error if you run the cell without changing the cell-type.

In [ ]:
<i> This is italicized! </i>

In [ ]:
*This is italicized!*

In [ ]:
_This is italicized!_

## Writing snippets of code in a Markdown Cell.

Code snippets can be added in a Markdown Cell by using  backticks ' \` '  before and after the code.

In [22]:
#Change cell-type of the following cells to Markdown
#Run the cell to see how to add code in a Markdown cell

#WARNING: you will see an error if you run the cell without changing the cell-type.

In [ ]:
` 1 + 1 = 2 ` <br> 
` return 2 `

## Creating lists in Markdown.

Markdown allows you to create ordered and unordered lists. <br>

### Ordered Lists

Ordered lists in Markdown are numbered. They can be obtained by doing the following: 
> 1) Place tags `<ol>` and `</ol>` before and after the list contents respectively. <br>
> 2) Place each individual list item between tags `<li>` and `</li>`.

In [8]:
#Change cell-type of the following cells to Markdown
#Run the cell

#WARNING: you will see an error if you run the cell without changing the cell-type.

In [ ]:
<ol>
<li> mercury </li>
<li> venus </li>
<li> earth </li>
<li> mars </li>
<li> jupiter </li>
<li> saturn </li>
<li> uranus </li>
<li> neptune </li>
</ol>

### Unordered Lists

Unordered lists in Markdown are bulleted lists. They can be obtained by doing the following: 
> 1) Place tags `<ul>` and `</ul>` before and after the list contents respectively. <br>
> 2) Place each individual list item between tags `<li>` and `</li>`.

In [9]:
#Change cell-type of the following cells to Markdown
#Run the cell

#WARNING: you will see an error if you run the cell without changing the cell-type.

In [ ]:
<ul>
<li> mercury </li>
<li> venus </li>
<li> earth </li>
<li> mars </li>
<li> jupiter </li>
<li> saturn </li>
<li> uranus </li>
<li> neptune </li>
</ul>

## Learn to construct tables.

A table is a data representation structure that displays information in rows and columns. In Markdown, we can build tables using the following syntax: <br>
> 1) Build columns by separating information using the **'vertical pipe'** ' | ' <br>
> 2) Use hypher ' - ' symbols to create the header with column names, in order to indicate the table format. <br>
> 3) Make sure to hit `return` between each row

In [10]:
#Change cell-type of the following cells to Markdown
#Run the cell

#WARNING: you will see an error if you run the cell without changing the cell-type.

In [ ]:
|Name|Radius|Color|
|-----|-------|-----| 
|Mercury|1516 miles|grey|
|Venus|3,760 miles|white|
|Earth|3,959 miles|blue/green|
|Mars |2,106 miles|red|

If this syntax is difficult to follow, there is a longer however simpler method to construct tables which are outlined in the following steps: <br>
> 1) Start with "< table style= "width: *'insert percentage'*" > where the percentage can range from 10%-100% <br>
> 2) Wrap each row around tags `<tr>` and `</tr>` <br>
> 3) Within each row, wrap column elements around tags of `<td>` and `</td>`. However, if it is the header row, wrap each element tags `<th>` and `</th>`.

In [ ]:
#Change cell-type of the following cells to Markdown
#Run the cell

#WARNING: you will see an error if you run the cell without changing the cell-type.

In [ ]:
<table style= "width: 30%">
   <tr>
       <th> Name </th>
       <th> Radius </th>
       <th> Color </th> 
   </tr> 
   <tr>
       <td> Mercury </td>
       <td> 1516 miles </td>
       <td> grey </td> 
   </tr>
   <tr>
       <td> Venus </td>
       <td> 3,760 miles </td>
       <td> white </td> 
   </tr>
   <tr>
       <td> Earth </td>
       <td> R3,959 miles </td>
       <td> blue/green </td> 
   </tr>
   <tr>
       <td> Mars </td>
       <td> 2,106 miles </td>
       <td> red </td> 
   </tr>
</table>

## Commenting in Markdown.

Markdown also has the feature to add comments that only appear in the code box and does not appear once you run the cell. These comments can be used to describe to other coders why a choice was made, or to explain the functionality of a specific statement. Once the cell is run, these comments are no longer visible. 

> The syntax to write a comment is to first type ` [//]: ` followed by ` # (*Insert comment here*) `

In [13]:
#Change cell-type of the following cell to Markdown
#Run the cell

#WARNING: you will see an error if you run the cell without changing the cell-type.

[//]: # (This syntax works like a comment, and won't appear in any output.) 
As you can see, output text does not have the comment on display!

### TASK 2

Here is a second task for you to do to test your markdown skills. Follow the steps to tables and text styling in action! <br>
> 1) Create a table with width 40%.  <br>
> 2) Add Column headings 'Name', 'Relationship' <br>
> 2) Add rows with two column elements: names of your family members, and their relationship to you. <br>
> 3) Italicize the relationship column. <br>
> 4) Bold the names column. <br>
> 5) Add a comment at the bottom about one thing you appreciate about your family!

In [15]:
#TASK 2 CELL

## Embedding images in a Markdown cell.

Inserting an image in a Markdown cell is very straightforward on Jupyter Notebook. Follow these steps to add an image to the cell below! <br> 

> 1) Change the cell-type to `Markdown`. <br>
> 2) Click on the `Edit` menu in the navigation bar at the top of the notebook. <br> 
> 3) Click on the `Insert Image` option. <br> 
> 4) Click on the `Choose File` button. <br> 
> 5) Navigate through your system and choose a photo to insert. <br> 
> 6) Press the `OK` button.
> 6) Run the cell.

In [19]:
#Delete this comment and use this cell to insert an image!

### Solutions

The following cells contain example solutions to Tasks 1 and 2. You can double click solution cells to see the code used to produce the correctly formatted output!

### Task 1

#### This is my answer

> I am a Computer Science major. <br>
> I like to dance and sing in my spare time. <br>
> I have met Harry Styles!

### Task 2

<table style= "width: 40%">
   <tr>
       <th> Name </th>
       <th> Relationship </th> 
   </tr> 
   <tr>
       <td> Jack </td>
       <td> Father </td>
   </tr>
   <tr>
       <td> Jim </td>
       <td> Father </td>
   </tr>
   <tr>
       <td> Taylor </td>
       <td> Sister </td>
   </tr>
   <tr>
       <td> Brandon </td>
       <td> Brother </td> 
   </tr>
</table>

[//]: # (I appreciate that my family values kindness and compassion above all!)